@charset "UTF-8";
body, p, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, hr, td, input, textarea {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  font-family: "微软雅黑"; }

/*!
* nav
*/
.navMain {
  width: 100%;
  background: #000000; }

nav {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  position: relative; }

nav img {
  margin-top: 27px; }

.logo {
  width: 386px;
  height: 100px; }

/*!
* contain
*/
.contain {
  width: 100%;
  padding-bottom: 230px;
  background: url(https://www.shiseido.com.cn/on/demandware.static/-/Sites-shiseido_global_cn-Library/default/dw1243bdd5/background-images/account-banner-bg.png) top right no-repeat; }

.loginWrap {
  margin-left: 6.25%;
  width: 93.75%;
  display: flex;
  padding-top: 50px; }
  .loginWrap .left {
    width: 40%; }
    .loginWrap .left h1 {
      color: black;
      font-size: 50px;
      margin-bottom: 50px;
      line-height: 50px;
      letter-spacing: 2px; }
    .loginWrap .left form {
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: -.1px; }
    .loginWrap .left .loginForm {
      width: 100%;
      padding: 0 10px; }
      .loginWrap .left .loginForm .formRow {
        padding: 22.5px 10px; }
        .loginWrap .left .loginForm .formRow span {
          color: black;
          line-height: 1;
          font-size: 18px; }
        .loginWrap .left .loginForm .formRow .required {
          color: #c8102e;
          letter-spacing: .4px; }
        .loginWrap .left .loginForm .formRow .inputText {
          margin-top: 14px;
          width: 410px;
          height: 50px;
          border: 1px solid #ccc; }
        .loginWrap .left .loginForm .formRow .formCheck {
          color: #888888;
          font-size: 14px;
          margin-right: 11px; }
          .loginWrap .left .loginForm .formRow .formCheck input[type=checkbox] {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 0;
            box-shadow: none;
            width: 30px;
            height: 30px; }
        .loginWrap .left .loginForm .formRow button {
          border: 1px solid #000;
          height: 48px;
          width: 100%;
          max-width: 413px;
          background: #000000;
          color: white;
          font-weight: 800;
          font-size: 18px; }
        .loginWrap .left .loginForm .formRow button:hover {
          background: white;
          color: #000000;
          cursor: pointer; }
      .loginWrap .left .loginForm .formRow1 {
        display: flex;
        align-items: center; }
      .loginWrap .left .loginForm #messageBox {
        padding-top: 10px;
        padding-left: 10px;
        font-size: 14px;
        font-weight: 400;
        color: #c8102e; }
      .loginWrap .left .loginForm .rememberme {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 413px; }
        .loginWrap .left .loginForm .rememberme .forget a {
          color: black;
          font-size: 18px;
          font-weight: normal;
          text-decoration: underline; }
    .loginWrap .left .loginOauth {
      width: 100%;
      max-width: 413px;
      height: 128px;
      margin: 7.5px 10px 0;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc; }
      .loginWrap .left .loginOauth p {
        margin-top: 25px;
        font-size: 18px; }
      .loginWrap .left .loginOauth ul {
        padding-top: 20px;
        display: flex;
        justify-content: space-around; }
      .loginWrap .left .loginOauth a {
        width: 36px;
        height: 36px;
        background: pink; }
      .loginWrap .left .loginOauth span {
        font-size: 36px; }
  .loginWrap .right {
    width: 40%;
    float: right; }
    .loginWrap .right h1 {
      color: black;
      font-size: 50px;
      margin-bottom: 72.5px;
      line-height: 50px;
      letter-spacing: .9px; }
    .loginWrap .right span {
      font-size: 18px; }
    .loginWrap .right .accountWrap {
      margin-bottom: 170px; }
      .loginWrap .right .accountWrap span {
        display: inline-block;
        text-indent: 16px;
        margin: 12px 0; }
    .loginWrap .right .button {
      display: inline-block;
      margin-top: 10px;
      width: 100%;
      height: 48px;
      background: #000000;
      color: white;
      font-size: 18px;
      font-weight: 800;
      line-height: 48px;
      max-width: 412px;
      box-sizing: border-box;
      border: 1px solid black;
      text-align: center; }
      .loginWrap .right .button:hover {
        background: white;
        color: black; }

.footer {
  width: 100%;
  height: 85px;
  background: black; }
  .footer p {
    font-size: 18px;
    color: white;
    line-height: 85px;
    text-align: center; }
