@charset "UTF-8";
body, p, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, hr, td, input, textarea {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  font-family: "微软雅黑"; }

/*!
* nav
*/
/*!
* contain
*/
.contain {
  width: 100%;
  height: 1670px;
  background: url(https://www.shiseido.com.cn/on/demandware.static/-/Sites-shiseido_global_cn-Library/default/dw1243bdd5/background-images/account-banner-bg.png) top right no-repeat; }

input:-internal-autofill-selected {
  background-color: white !important; }

.contain .regBox h1 {
  font-size: 50px;
  margin-left: 6.25%;
  margin-bottom: 64px;
  line-height: 1;
  letter-spacing: 2px;
  padding: 0 10px;
  padding-top: 70px; }

.contain .regBox span {
  margin-left: 7%;
  font-size: 18px; }

.contain .regVip {
  margin-left: 7%; }
  .contain .regVip li {
    line-height: 40px;
    font-size: 18px;
    margin-top: 20px;
    line-height: 1;
    letter-spacing: -.1px;
    padding-left: 16px; }

.regForm {
  margin-top: 58px;
  margin-left: 6.25%;
  width: 52%; }
  .regForm .formRow {
    padding: 22.5px 10px;
    width: 50%; }
    .regForm .formRow span {
      color: black;
      line-height: 1;
      font-size: 18px; }
    .regForm .formRow .required {
      color: #c8102e;
      letter-spacing: .4px; }
    .regForm .formRow .inputText {
      padding: 14px 18px 15px;
      margin-top: 22.5px;
      width: 330px;
      height: 48px;
      border: 1px solid #ccc; }
    .regForm .formRow .verCode {
      width: 155px;
      margin-right: 13px; }
  .regForm .form1 {
    display: flex; }
  .regForm .formCheck {
    color: #888888;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .3px; }
    .regForm .formCheck input {
      zoom: 200%;
      border: 1px solid #fff; }
    .regForm .formCheck a {
      color: #888888;
      text-decoration: underline; }
    .regForm .formCheck a:hover {
      opacity: .7; }
  .regForm .regBtn {
    padding-top: 22px; }
    .regForm .regBtn button.primary.large {
      min-width: 160px; }

p {
  color: #888888;
  font-size: 14px;
  padding: 0 10px 17.5px; }

.overburden {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 50px;
  z-index: 10;
  display: none; }

.centerer .wrap {
  margin-left: 50%;
  margin-top: 90px;
  padding: 0 10px; }
  .centerer .wrap .btn-0 {
    width: 330px; }

/*!
* 底部
*/
.footer {
  width: 100%;
  height: 515px;
  background: #000000; }

.footer .lay1 {
  width: 1147px;
  margin: 0 auto;
  padding: 53px 0 50px;
  border-bottom: 1px solid #666; }

.footer .title {
  margin-bottom: 60px;
  margin-top: 10px; }

.footer .title h3 {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #ccc; }

.footer .row {
  display: flex;
  justify-content: center;
  margin-right: -10px;
  margin-left: -10px; }

.lay1 .contains {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.footer .lay1 a {
  color: #ccc;
  font-size: 16px;
  display: inline-block; }

.footer a:hover {
  text-decoration: none;
  opacity: .7; }

.footer i {
  color: #ccc;
  font-size: 28px;
  vertical-align: middle; }

.footer .lay1 span {
  margin-left: 8px;
  color: #ccc; }

.tel {
  margin-left: 20px; }

.tel span {
  letter-spacing: 3px; }

.lay2 {
  width: 1147px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 59px; }

.lay2 h5 {
  font-size: 16px;
  padding-bottom: 27px;
  font-weight: bolder;
  color: #666; }

.lay2 a {
  font-size: 16px;
  margin-bottom: 5px;
  color: #666; }

.lay2 .contains {
  text-align: center; }

.footer .lay3 {
  text-align: center; }

.footer .lay3 a {
  color: #666;
  margin-left: 10px; }

.footer .lay3 span {
  color: #666;
  margin-left: 10px; }
