@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);

html *:before,
html *:after {
  box-sizing: border-box;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
html i, html em,
html b, html strong,
html span {
  -webkit-transition: none;
  transition: none;
}

*:before,
*:after {
  z-index: -1;
}


.wrap a {
  text-decoration: none;
  line-height: 48px;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.centerer {
  margin: 0 auto;
  padding: 0 1rem;
  font-weight: bold;
  text-align: center;
  background: white;
}

@media (min-width: 600px) {
  .wrap {
    width: 280px;
    float: left;
  }
}
[class^="btn-"] {
  position: relative;
  display: block;
  overflow: hidden;
  width: 280px;
  height: 48px;
  margin: 1rem auto;
  text-transform: uppercase;
  border: 1px solid black;
}

.btn-0 {
  color: black;
}
.btn-1 {
  width: 145px;
  margin: 12px;
}
.btn-2 {
  width: 412px;
  margin: 12px;
}
.btn-0:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.btn-0:hover {
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.btn-0:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@-webkit-keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}

@keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}
@-webkit-keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}
@keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}


[type=button].primary.large, [type=reset].primary.large, [type=submit].primary.large, a.button.primary.large, button.primary.large {
  height: 48px;
  padding: 0;
  line-height: 48px;
  min-width: 200px;
}
[type=button].primary.active, [type=button].primary:active, [type=button].primary:hover, [type=reset].primary.active, [type=reset].primary:active, [type=reset].primary:hover, [type=submit].primary.active, [type=submit].primary:active, [type=submit].primary:hover, a.button.primary.active, a.button.primary:active, a.button.primary:hover, button.primary.active, button.primary:active, button.primary:hover {
  color: #000;
  background: white;
}
[type=button].primary, [type=reset].primary, [type=submit].primary, a.button.primary, button.primary {
  color: #fff;
  position: relative;
  background: 0 0;
  font-weight: 700;
}
[type=button], [type=reset], [type=submit], a.button, button {
  cursor: pointer;
  line-height: .86;
  font-size: 20px;
  background: #fff;
  text-align: center;
  letter-spacing: 1.4px;
  border: 1px solid #000;
  font-family: "Microsoft YaHei",sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
[type=button].primary:before, [type=reset].primary:before, [type=submit].primary:before, a.button.primary:before, button.primary:before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
[type=button].primary::after, [type=reset].primary::after, [type=submit].primary::after, a.button.primary::after, button.primary::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width .3s ease;
}