@charset "utf-8";
body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,hr,td,input,textarea{
	margin:0;
	padding:0;
}
li{    
    list-style: none; 
}
a{
    text-decoration: none;
}
body{
	font-family: "微软雅黑";
}

/*!
* nav
*/
.navMain{
    width: 100%;
    background: #000000;
}
nav{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    position: relative;
}
nav img{
    margin-top: 27px;
}
.logo{
    width: 386px;
    height: 100px;
}

.navCon{
    width: 1030px;
    height: 100px;
    display: flex;
}
.main{
    background: black;
    width: 628px;
    color: white;
    position: relative;
}
.main .ul1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main .ul1 li{
    list-style: none;
    line-height: 50px;
}
.main .ul1 li a{
    color: white;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    line-height: 100px;
}
.main .ul1 li a:hover{
    border-bottom: 4px solid #c8102e;
}
nav .box{
    width: 100%;
    height: 700px;
    z-index: 20;
    position: absolute;
    top: 100px;
    background: black;
    display: none;
    cursor: default;
}
nav .box ul li a{
    color: white;
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    line-height: 100px;
}
.icon{
    width: 345px;
    height: 30px;
}
.icon ul{
    float: right;
    margin-right: 15px;
}
.icon li{
    height: 20px;
    width: 20px;
    float: left;
    padding: 0 1px 0;
    margin: 0 10px;
}
.icon a span{
    color: white;
    font-size: 20px;
    line-height: 100px;
}
.icon a:hover{
    text-decoration: none;
}
.navMain .box ul {
    margin-left: 380px;
    margin-top: 80px;
}
.navMain .box ul li{
    font-size: 30px;
    color: white;
    display: inline-block;
    line-height: 50px;
}
.navMain .box ul li:hover{
    border-bottom: 4px solid #c8102e;
    font-weight: bold;
}
.navMain .box3 ul li:hover{
    border-bottom: none;
    font-weight: bold;
}
.navMain .box .ul2{
    font-size: 18px;
    color: white;
    position: absolute;
    top: 0;
    margin-left: 50%;
}
.navMain .box .ul2 a:hover{
    font-weight: 100;
}
.navMain .box .ul2 a{
    color: white;
    font-size: 18px;
    line-height: 32px;
    font-weight: 100;
}


/*!
* contain
*/
.contain{
    width: 100%;
    height: 600px;
    background: url(https://www.shiseido.com.cn/on/demandware.static/-/Sites-shiseido_global_cn-Library/default/dw1243bdd5/background-images/account-banner-bg.png) top right no-repeat;
}
.contain .regBox{
    h1{
        font-size: 50px;
        margin-left: 6.25%;
        margin-bottom: 64px;
        line-height: 1;
        letter-spacing: 2px;
        padding: 0 10px;
        padding-top: 70px;
    }
    span{
        margin-left: 7%;
        font-size: 18px;
    }
}
.contain .regVip{
    margin-left: 7%;
    li{
        line-height: 40px;
        font-size: 18px;
        margin-top: 20px;
        line-height: 1;
        letter-spacing: -.1px;
        padding-left: 16px;
    }
}
.regForm{    
    margin-top: 58px;
    margin-left: 6.25%;
    width: 52%;
    .formRow{
        padding:22.5px 10px;
        // width: 50%;
        span{
            color:black;
            line-height: 1;
            font-size: 18px;
        }
        .required{
            color: #c8102e;
            letter-spacing: .4px;
        }
        .inputText{
            padding: 14px 18px 15px;
            margin-top: 22.5px;
            width: 280px;
            border: 1px solid #ccc;
        }
        .verCode{
            width: 150px;
            margin-right: 8px;
        }
        .regBtn{
            height: 50px;
            width: 150px;
            background: rgb(102,102,102);
            font-size: 18px;
            font-weight: bolder;
            color: white;
            border: none;
        }
        .form1{
            float: left;
        }
    } 
}   
    p{
        color: #888888;
        font-size: 14px;
    }

